body {
    background-color: rgb(192, 129, 36);
}

p {
    background-color: black;
    color: aliceblue;
    width: 500px;
}

.premier{
    background-color: chartreuse;
    width: 33%;
}
img{
    height: 200px;
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 10%;
}